@media only screen and (max-width: 700px) {

/* BODY */
body {
  --bkg-color: rgb(255, 255, 255);
  --text-color: rgb(33, 33, 33);
}

body.dark-theme {
  --bkg-color: rgb(33, 33, 33);
  --text-color: rgb(247, 247, 247);
}


body{
  background-color: var(--bkg-color);
  color: var(--text-color);
  font-family: Impact;
}

html {
  scroll-behavior: smooth;
}

  #navbarcontainer{
    z-index: 99;
    position: absolute;
  }
  #btnDL{ 
    float: right;
    margin-top: 1%;
    margin-bottom: 1%;
    border: none;
    appearance: none;
    background-color: inherit;
  }
  
  #modeswitch {
    width: 50px;
    height: auto;
  }

  /*TEXT HOME*/
  .StartText{
    text-align: center;
    padding-bottom: 5%;
  }

  #uberschrift{
    font-size: 5vw;
  }

  #unterschrift{
    font-size: 3vw
  }

  #BildU{
    border-radius: 10px;
    position: absolute;
    height: auto;
    max-width: 80%;
  }

  #BildB{
    position: absolute;
    border-radius: 10px;
    height: auto;
    opacity: 0;
    max-width: 80%;
  }
  #BildB:hover{
    opacity: 100;
  }

  #Bild2U{
    border-radius: 10px;
    position: absolute;
    height: auto;
    max-width: 80%;
  }

  #Bild2B{
    right: auto;
    position: absolute;
    border-radius: 10px;
    max-width: 80%;
    height: auto;
    opacity: 0;
  }
  #Bild2B:hover{
    opacity: 100;
  }


  
  .Speede{
    margin: 30% 0 0 0;
    display:flex;
    justify-content: center;
    align-items: center;
  }

 
  .Strand{
    margin: 75% 0 0 0;
    display:flex;
    justify-content: center;
    align-items: center;
  }


  .Paar{
    margin: 75% 0 0 0;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .UBahn{
    margin: 40% 0 0 0;
    display:flex;
    justify-content: center;
    align-items: center;

  }

  .Notre-Dame{
    margin: 40% 0 0 0;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .Mädchen{
    padding: 55% 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .Schloss{
    margin: 75% 0 0 0;
    display:flex;
    justify-content: center;
    align-items: center;
  }


  #Text{
    max-width: 80%;
    text-align: center;
    position: relative;
    margin: 35% 0 0 10%;
    font-size: 2.5vw;
  }


  #Text2{
    max-width: 80%;
    text-align: center;
    position: relative;
    margin: 70% 0 0 10%;
    font-size: 2.5vw;
  }

  #paart{
    max-width: 80%;
    text-align: center;
    position: relative;
    margin: 70% 0 0 10%;
    font-size: 2.5vw;
  }

  #ubahnt{
    max-width: 80%;
    text-align: center;
    position: relative;
    margin: 35% 0 0 10%;
    font-size: 2.5vw;
  }

  #schlosst{
    max-width: 80%;
    text-align: center;
    position: relative;
    margin: 70% 0 0 10%;
    font-size: 2.5vw;
  }

}