/* BODY */
body {
  --bkg-color: rgb(255, 255, 255);
  --text-color: rgb(33, 33, 33);
}

body.dark-theme {
  --bkg-color: rgb(33, 33, 33);
  --text-color: rgb(247, 247, 247);
}


body{
  background-color: var(--bkg-color);
  color: var(--text-color);
  font-family: Verdana;
}

html {
  scroll-behavior: smooth;
}


  /*TEXT HOME*/
  .StartText{
    text-align: center;
    padding-bottom: 5%;
  
  }
  #BildU{
    border-radius: 40px;
    position: absolute;
    max-width: 35%;
    height: auto;
    z-index: -1;
  }

  #BildB{
    position: absolute;
    border-radius: 40px;
    max-width: 35%;
    height: auto;
    z-index: 1;
    opacity: 0;
  }
  #BildB:hover{
    opacity: 100;
  }

  #Bild2U{
    right: 5%;
    border-radius: 40px;
    position: absolute;
    max-width: 35%;
    height: auto;
    z-index: -1;
  }

  #Bild2B{
    right: 5%;
    position: absolute;
    border-radius: 40px;
    max-width: 35%;
    height: auto;
    z-index: 1;
    opacity: 0;
  }
  #Bild2B:hover{
    opacity: 100;
  }

  .Speede{
    padding-left: 5%;
    position:relative;

  }

  .Strand{
    padding-right: 5%;
    padding-top: 20%;

  }


  .Paar{
    padding-left: 5%;
    padding-top: 45%;


  }

  .UBahn{
 
    padding-top: 45%;



  }

  .Notre-Dame{
    padding-left: 5%;
    padding-top: 15%;

  }

  .Mädchen{
    padding-right: 5%;
    padding-top: 15%;

  }



  #Text{
    padding-left: 50%;
    padding-right: 5%;
    font-size: 2vw;
  }

  #Text2{
    padding-left: 5%;
    padding-right: 50%;
    font-size: 2vw;
  }

  #paart{
    padding-left: 50%;
    padding-right: 5%;
    font-size: 2vw;
  }

  #ubahnt{
    padding-left: 5%;
    padding-right: 50%;
    font-size: 2vw;
  }

