/* BODY */
body {
  --bkg-color: rgb(255, 255, 255);
  --text-color: rgb(33, 33, 33);
}

body.dark-theme {
  --bkg-color: rgb(33, 33, 33);
  --text-color: rgb(247, 247, 247);
}


body{
  background-color: var(--bkg-color);
  color: var(--text-color);
  font-family: Impact;
}

html {
  scroll-behavior: smooth;
}

#btnDL{ 
  margin-top: -15%;
}

  /*TEXT HOME*/
  .StartText{
    text-align: center;
    padding-bottom: 5%;

  }

  #uberschrift{
    font-size: 3.5vw;
  }

  #unterschrift{
    font-size: 2vw;
  }

  #BildU{
    border-radius: 10px;
    position: absolute;
    max-width: 35%;
    height: auto;

    box-shadow: 8px 8px var(--text-color);
  }

  #BildB{
    position: absolute;
    border-radius: 10px;
    max-width: 35%;
    height: auto;

    opacity: 0;
  }
  #BildB:hover{
    opacity: 100;
  }

  #Bild2U{
    right: 10%;
    border-radius: 10px;
    position: absolute;
    max-width: 35%;
    height: auto;

    box-shadow: 8px 8px var(--text-color);
  }

  #Bild2B{
    right: 10%;
    position: absolute;
    border-radius: 10px;
    max-width: 35%;
    height: auto;

    opacity: 0;
  }

  #Bild2B:hover{
    opacity: 100;
  }

  .Speede{
    margin-left: 10%;

  }

  .Strand{
    margin-right: 10%;
    margin-top: 20%;

  }


  .Paar{
    margin-left: 10%;
    margin-top: 50%;


  }

  .UBahn{
    margin-top: 50%;
  }

  .Notre-Dame{
    margin-left: 10%;
    margin-top: 20%;

  }

  .Mädchen{
    margin-right: 10%;
    margin-top: 20%;
    margin-left: 10%;

  }

  .Schloss{
    margin-left: 10%;
    margin-top: 50%;


  }


  #Text{
    text-align: center;
    padding: 1% 1% 1% 1%;
    border-radius: 10px;
    max-width: 35%;
    background-color: rgb(91, 87, 92);
    box-shadow: -8px 8px var(--text-color);
    margin-left: 55%;
    font-size: 1.5vw;
  }

  #Text2{
    text-align: center;
    padding: 1% 1% 1% 1%;
    border-radius: 10px;
    max-width: 35%;
    background-color: rgb(91, 87, 92);
    box-shadow: -8px 8px var(--text-color);
    margin-left: 10%;
    font-size: 1.5vw;
    text-align: right;
  }

  #paart{
    text-align: center;
    padding: 1% 1% 1% 1%;
    border-radius: 10px;
    max-width: 35%;
    background-color: rgb(91, 87, 92);
    box-shadow: -8px 8px var(--text-color);
    margin-left: 55%;
    font-size: 1.5vw;
  }

  #ubahnt{
    text-align: center;
    padding: 1% 1% 1% 1%;
    border-radius: 10px;
    max-width: 35%;
    background-color: rgb(91, 87, 92);
    box-shadow: -8px 8px var(--text-color);
    margin-left: 10%;
    font-size: 1.5vw;
    text-align: right;
  }

  #schlosst{
    text-align: center;
    padding: 1% 1% 1% 1%;
    border-radius: 10px;
    max-width: 35%;
    background-color: rgb(91, 87, 92);
    box-shadow: -8px 8px var(--text-color);
    margin-left: 55%;
    font-size: 1.5vw;
  }
