/* BODY */

@media only screen and (max-width: 700px) {

  
  
  body{
    background-color: var(--bkg-color);
    color: var(--text-color);
    font-family: Verdana;
  }
  
  html {
    scroll-behavior: smooth;
  }
  

  .StartText{
    text-align: center;
  }

  #uberschrift{
    font-size: 5vw;
  }

  #unterschrift{
    font-size: 3vw;
  }
  
    #btnDL{ 
      margin-top: -50px;
      float: right;
      margin-bottom: 1%;
      border: none;
      appearance: none;
      background-color: inherit;
    }
  
    #modeswitch {
        width: 50px;
    }
    
  
    .Start{
      text-align: center;
    }
  
    .startwave{
      margin-top: 5%;
      height: 8vw;
      margin-left: -1%;
    }
    
    #startbild{
      max-width: 100%;
      height: auto;
    }
  
  
}
