/* BODY */


body{
  background-color: var(--bkg-color);
  color: var(--text-color);
  font-family: Verdana;
}

html {
  scroll-behavior: smooth;
}

/* NAVBAR */
/* Add a black background color to the top navigation */


#btnDL{ 
  margin-top: -60px;
}
  .Start{
    margin-top: 5%;;
    position: absolute;
    text-align: center;
  }

  .startwave{
    margin-top: 5%;
    width: 100.9%;
    margin-left: -0.9%;
    height: 8vw;
  }
  
  #startbild{
    max-width: 60%;
    height: auto;
  }

  .StartText{
    position: absolute;
    text-align: center;
    color: var(--text-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.); 
    width: 100%;
  }
