/* BODY */

@media only screen and (max-width: 700px) {

body {
    --bkg-color: rgb(255, 255, 255);
    --text-color: rgb(33, 33, 33);
  }
  
  body.dark-theme {
    --bkg-color: rgb(33, 33, 33);
    --text-color: rgb(247, 247, 247);
  }
  
  
  body{
    background-color: var(--bkg-color);
    color: var(--text-color);
    font-family: Verdana;
  }
  
  html {
    scroll-behavior: smooth;
  }
  

  
  
    #btnDL{ 
      float: right;
      margin-top: 1%;
      margin-bottom: 1%;
      border: none;
      appearance: none;
      background-color: inherit;
    }
  
    #modeswitch {
        width: 50px;
    }
    
  
    .Start{
      margin-top: 15%;;
      position: absolute;
      text-align: center;
    }
  
    .startwave{
      margin-top: 5%;
      height: 8vw;
      width: 100.9%;
      margin-left: -0.9%;
    }
    
    #startbild{
      max-width: 100%;
      height: auto;
    }
  
    .StartText{
      position: absolute;
      text-align: center;
      color: var(--text-color);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: rgb(0, 0, 0); 
      background: rgba(0, 0, 0, 0.); 
      width: 100%;
    }
  
}
