@media only screen and (max-width: 700px) {

    /* BODY */


    body {
        background-color: var(--bkg-color);
        color: var(--text-color);
        font-family: Impact;

    }

    html {
        scroll-behavior: smooth;
    }


    #btnDL{
        margin-top: -50px;
    }

    #modeswitch {
        width: 50px;
        height: auto;
    }

    /*TEXT HOME*/
    .StartText {
        text-align: center;
    }

    #uberschrift {
        font-size: 5vw;
    }

    #unterschrift {
        font-size: 3vw
    }

    #t1Koe, #t2Koe, #t3Koe, #t4Koe, #t5Koe, #t6Koe{
        font-size: 2.5vw;
    }



    .ImgHY{
        margin-top: 7%;
        justify-content: center;
        align-items: center;
    }

    #img1Koe{
        margin: 0 0 0 10%;
        max-width: 80%;
        height: auto;
        text-align: center;
    }

    #img2Koe{
        margin: 5% 0 0 10%;
        max-width: 80%;
        height: auto;
        text-align: center;

    }

    #img1Koe, #img2Koe, #img3Koe, #img4Koe, #img5Koe, #img6Koe, #img7Koe, #img8Koe{
        margin-top: 1%;
        margin-left: 10%;
        border-radius: 15px;
        max-width: 35%;
        padding: 1% 1% 1%;
      }
  

    #img3Koe, #img4Koe, #img5Koe, #img6Koe{
        max-width: 42%;
        margin-left: 5%;
    }


}