@media only screen and (max-width: 700px) {

    /* BODY */


    body {
        background-color: var(--bkg-color);
        color: var(--text-color);
        font-family: Impact;
    }

    html {
        scroll-behavior: smooth;
    }


    #btnDL{
        margin-top: -50px;
    }

    #modeswitch {
        width: 50px;
        height: auto;
    }

    /*TEXT HOME*/
    .StartText {
        text-align: center;
        padding-bottom: 5%;
    }

    #uberschrift {
        font-size: 5vw;
    }

    #unterschrift {
        font-size: 3vw
    }

    #t1NY{
        font-size: 2.5vw;
    }

    .imgHY{

        justify-content: center;
        align-items: center;
    }

    #img1NY{
        margin: 0 0 0 10%;
        max-width: 80%;
        height: auto;
        text-align: center;
    }

    #img2NY{
        margin: 5% 0 0 10%;
        max-width: 80%;
        height: auto;
        text-align: center;

    }

}