/* BODY */
body {
    --bkg-color: rgb(255, 255, 255);
    --text-color: rgb(33, 33, 33);
  }
  
  body.dark-theme {
    --bkg-color: rgb(33, 33, 33);
    --text-color: rgb(247, 247, 247);
  }
  
  
  body{
    background-color: var(--bkg-color);
    color: var(--text-color);
    font-family: Impact;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  
    /*TEXT HOME*/
    .StartText{
      text-align: center;
      padding-bottom: 2%;

    }
  
    #uberschrift{
      font-size: 3vw;
 
    }
  
    #unterschrift{
      font-size: 2vw;
    }

    #startIMGNY{
      width: 100%;
    }

    #t1NY{
      text-align: center;
      font-size: 1.5vw;
    }

    #img1NY{
      margin-top: 2%;
      margin-left: 5%;
      border-radius: 10px;
      max-width: 40%;
    }
    
    #img2NY{
      margin-top: 2%;
      margin-left: 10%;
      border-radius: 10px;
      max-width: 40%;
    }