/* BODY */

body {
  background-color: rgb(255, 255, 255);
  color: rgb(34, 31, 31);
}

/* NAVBAR */
/* Add a black background color to the top navigation */
.topnav {
  border-radius: 30px;
  border-color: white;
  background-color: rgb(91, 87, 92);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 14px 16px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color:  rgb(34, 31, 31);
  color: rgb(255, 255, 255);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color:  rgb(255, 65, 55);
  color: rgb(34, 31, 31);
}

/*TEXT HOME*/
.StartText{
  text-align: center;

}

.Bild{
  text-align: center;

}


#eifel{
  z-index: -1;
  border-radius: 40px;
  position: absolute;
}

#ascii{
  z-index: 1;
  border-radius: 40px;
}



/*FOOTER*/
footer {
  border-radius: 30px;
  border-color: white;
  text-align: center;
  position:relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: rgb(255, 255, 255);
  background-color: rgb(91, 87, 92);
}