/* BODY */
body {
    --box-color: rgb(255, 255, 255);
    --text-color: rgb(33, 33, 33);
    --bkg-color: rgb(245, 245, 245);

  }
  
  body.dark-theme {
    --bkg-color: rgb(33, 33, 33);
    --text-color: rgb(247, 247, 247);
    --box-color: rgb(50, 50, 50);
  }
  
  
  body{
    background-color: var(--bkg-color);
    color: var(--text-color);
    font-family: Impact;
  }
  
  html {
    scroll-behavior: smooth;
  }
  

    /*TEXT HOME*/
    .StartText{
      margin-top: 1%;
      text-align: center;
      border-radius: 10px;
      background-color: var(--box-color);
      width: auto;
    }
  
    #uberschrift{
      padding-top: 1%;
      font-size: 3vw;

    }
  
    #unterschrift{
      padding-bottom: 1%;
      font-size: 2vw;
    }

    #startIMGNY{
      margin-top: 1%;
      border-radius: 10px;
      width: 100%;
    }

    #t1, #t2, #t3{
      text-align: center;
      font-size: 1.5vw;
      border-radius: 10px;
      background-color: var(--box-color);
      width: auto;
      padding: 1% 0% 1%;
    }

    #t1, #t3{
      margin-top: 3%;
    }

    .ImgHY{
      border-radius: 10px;
      background-color: var(--box-color);
      padding-top: 1%;
      padding-bottom: 1%;
    }

    #img1NY, #img2NY, #img3NY, #img4NY{
      margin-top: 1%;
      margin-left: 10%;
      border-radius: 10px;
      max-width: 35%;
    }

    
    #t4{
      float:left;
      margin-top: 1%;
      text-align: center;
      margin-left: 10%;
      font-size: 1.5vw;
      border-radius: 10px;
      background-color: var(--box-color);
      width: 35%;
      padding: 1% 0% 1%;
    }
    
    #t5{
      width: 35%;
      float: right;
      text-align: center;
      margin-right: 9.75%;
      margin-top: 1%;
      font-size: 1.5vw;
      border-radius: 10px;
      background-color: var(--box-color);
      padding: 1% 0% 1%;
    }

    #t6{
      margin-top: 10%;
      text-align: center;
      font-size: 1.5vw;
      border-radius: 10px;
      background-color: var(--box-color);
      width: auto;
      padding: 1% 0% 1%;
    }

    #img5NY{
      max-width: 70%;
      height: auto;
      margin-top: 1%;
      margin-left: 15%;
      border-radius: 10px;
    }