/* BODY */
body {
  --box-color: rgb(255, 255, 255);
  --text-color: rgb(33, 33, 33);
  --bkg-color: rgb(245, 245, 245);
  --shadow-color: rgb(235, 235, 235);
}

body.dark-theme {
  --bkg-color: rgb(33, 33, 33);
  --text-color: rgb(247, 247, 247);
  --box-color: rgb(50, 50, 50);
  --shadow-color: rgb(70, 70, 70);
}


body{
  background-color: var(--bkg-color);
  color: var(--text-color);
  font-family: Impact;
  --fsize-heading: 3vw;
  --fsize-subheading: 2vw;
  --fsize-text: max(1vw, 12px);
}


html {
  scroll-behavior: smooth;
}

/* NAVBAR */
/* Add a black background color to the top navigation */


.StartText{
  margin-top: 1%;
  text-align: center;
  border-radius: 10px;
  background-color: var(--box-color);
  box-shadow: 4px 4px var(--shadow-color);
  width: auto;
}

#uberschrift{

  padding-top: 1%;
  font-size: var(--fsize-heading);
  margin-bottom: 0;
}

#unterschrift{
  padding-bottom: 1%;
  font-size: var(--fsize-subheading);
  margin-bottom: 5%;
}

  .Start{
    margin-top: 5%;;
    text-align: center;
  }

  .startwave{
    margin-top: 5%;
    width: 100.9%;
    margin-left: -0.9%;
    height: 8vw;
  }
  
  #startbild{
    max-width: 60%;
    height: auto;
  }

  #t1{
    text-align: center;
    font-size: var(--fsize-text);
    background-color: var(--box-color);
    border-radius: 10px;
    width: auto;
    padding: 1% 0% 1%;
    margin-top: 3%;
    box-shadow: 4px 4px var(--shadow-color);
  }


  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 25%;
    padding: 0 4px;
    box-sizing: border-box;
  }

  .column img {
    border-radius: 5px;
    margin-top: 8px;
    vertical-align: middle;
    filter: contrast(110%) saturate(0%);
  }


  