/* BODY */

@media only screen and (max-width: 700px) {

  
  
  body{
    background-color: var(--bkg-color);
    color: var(--text-color);
    font-family: Verdana;
  }
  
  html {
    scroll-behavior: smooth;
  }
  

  .StartText{
    text-align: center;
  }

  #uberschrift{
    font-size: 5vw;
  }

  #unterschrift{
    font-size: 3vw;
  }
  
  
    #modeswitch {
        width: 50px;
    }
    
  
    .Start{
      text-align: center;
    }
  
    .startwave{
      margin-top: 5%;
      height: 8vw;
      margin-left: -1%;
    }
    
    #startbild{
      max-width: 100%;
      height: auto;
    }
  
    #t1{
      font-size: 2.5vw;
      padding: 1% 1% 1%;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 4px;

  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
    filter: contrast(110%) saturate(0%);
  }

  * {
    box-sizing: border-box;
  }
}
