@media only screen and (max-width: 700px) {

    /* BODY */


    body {
        background-color: var(--bkg-color);
        color: var(--text-color);
        font-family: Impact;

    }

    html {
        scroll-behavior: smooth;
    }




    #modeswitch {
        width: 50px;
        height: auto;
    }

    /*TEXT HOME*/
    .StartText {
        text-align: center;
    }

    #uberschrift {
        font-size: 5vw;
    }

    #unterschrift {
        font-size: 3vw
    }

    #t1, #t2, #t3, #t4, #t5, #t6{
        font-size: 2.5vw;
        padding: 1% 1% 1%;
    }



    .ImgHY{
        margin-top: 7%;
        justify-content: center;
        align-items: center;
    }

    #img1NY{
        margin: 3% 0 0 10%;
        max-width: 80%;
        height: auto;
        text-align: center;
    }

    #img2NY{
        margin: 5% 0 0 10%;
        max-width: 80%;
        height: auto;
        text-align: center;
    }

    #t3{
        margin-top: 5%;
    }

    .ImgBlock2, .ImgBlock3{
        float: none;
        margin-top: 3%;
        margin-left: 10%;
        max-width: 80%;
      } 

      #skyscrapers{
        padding-top: 1%;
        padding-bottom: 1%;
      }

    .ImgBlock4{
        margin-top: 5%;
    }

    #img5NY{
        max-width: 80%;
        margin-left: 10%;
    }

    #img1NY, #img2NY, #img3NY, #img4NY, #img5NY, #img6NY, #img7NY, #img8NY{
        border-radius: 10px;
      }

}