/* BODY */
body {
  --box-color: rgb(255, 255, 255);
  --text-color: rgb(33, 33, 33);
  --bkg-color: rgb(245, 245, 245);
  --shadow-color: rgb(235, 235, 235);
}

body.dark-theme {
  --bkg-color: rgb(33, 33, 33);
  --text-color: rgb(247, 247, 247);
  --box-color: rgb(50, 50, 50);
  --shadow-color: rgb(70, 70, 70);
}

  
  
  body{
    background-color: var(--bkg-color);
    color: var(--text-color);
    font-family: Impact;
  }
  
  html {
    scroll-behavior: smooth;
  }
  

  
    /*TEXT HOME*/
    .StartText{
      margin-top: 1%;
      text-align: center;
      border-radius: 10px;
      background-color: var(--box-color);
      box-shadow: 4px 4px var(--shadow-color);
      width: auto;
    }
  
    #uberschrift{
      padding-top: 1%;
      font-size: 3.5vw;
      margin-bottom: 0;
    }
  
    #unterschrift{
      padding-bottom: 1%;
      font-size: 2vw;
    }

    #startIMGNY{
      margin-top: 1%;
      border-radius: 10px;
      width: 100%;
    }

    #t1, #t2, #t3{
      text-align: center;
      font-size: 1.5vw;
      background-color: var(--box-color);
      border-radius: 10px;
      width: auto;
      padding: 1% 0% 1%;
    }

    #t1, #t3{
      margin-top: 3%;
      box-shadow: 4px 4px var(--shadow-color);
    }

    #t1{
      margin-bottom: 3%;
    }

    #t2{
      border-top: 1mm solid rgb(91, 87, 92);
      margin-bottom: 0;
    }

    .ImgBlock1, .ImgBlock2, .ImgBlock3, .ImgBlock4{
      border-radius: 10px;
      background-color: var(--box-color);
      padding-top: 1%;
      padding-bottom: 1%;
    }

    #img1NY, #img2NY{
      margin-top: 1%;
      margin-left: 10%;
      border-radius: 10px;
      max-width: 35%;
    }
    #img3NY, #img4NY{
      border-radius: 10px;
      max-width: 90%;
      margin-left: 5%;
    }

    .ImgBlock2{
      margin-left: 8%;
      max-width: 40%;
    }

    .ImgBlock3{
      float: right;
      margin-top: -59.4%;
      margin-right: 8%;
      max-width: 40%;
    } 

    #t4{
      margin-top: 1%;
      text-align: center;
      font-size: 1.5vw;
      border-top: 1mm solid rgb(91, 87, 92);
      background-color: var(--box-color);
      padding: 1% 1% 1%;
    }
    
    #t5{
      border-top: 1mm solid rgb(91, 87, 92);
      text-align: center;
      margin-top: 1%;
      font-size: 1.5vw;
      background-color: var(--box-color);
      padding: 1% 1% 1%;
    }

    .ImgBlock4{
      margin-top: 5%;
    }

    #t6{
      border-bottom: 1mm solid rgb(91, 87, 92);
      margin-bottom: 1%;
      margin-top: 0;
      text-align: center;
      font-size: 1.5vw;
      background-color: var(--box-color);
      width: auto;
      padding: 1% 0% 1%;
    }

    #img5NY{
      max-width: 70%;
      height: auto;
      margin-top: 1%;
      margin-left: 15%;
      border-radius: 10px;
    }


    #img1NY, #img2NY, #img3NY, #img4NY, #img5NY, #img6NY, #img7NY, #img8NY{
      border-radius: 20px;
    }