
html {
  scroll-behavior: smooth;
}

.Topnav {
  border-radius: 30px;
  border-color: white;
  background-color: rgb(91, 87, 92);
  overflow: hidden;
  margin-right: 20px;
  margin-top: 20px;
  margin-left: 20px;

}

/* Style the links inside the navigation bar */
.Topnav a {
  float: left;
  color: rgb(247, 247, 247);
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 14px 16px;
}

/* Change the color of links on hover */
.Topnav a:hover, .SubNavBar:hover .SubNavBarBtn {
  background-color:  rgb(34, 31, 31);
  color: rgb(255, 255, 255);
}

/* Add a color to the active/current link */
.Topnav a.Active {
  background-color:  rgb(255, 65, 55);
  color: rgb(34, 31, 31);
}

/*Dropdown*/

.SubNavBar{
  float: left;
  overflow: hidden;
}


.SubNavBarBtn {
  font-family: Verdana;
  border: none;
  outline: none;
  background-color: rgb(91, 87, 92);
  color: rgb(247, 247, 247);
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 14px 16px;
}

.SubNavBarContent {
  display: none;
  position: absolute;
  background-color: rgb(91, 87, 92);
}

.SubNavBarContent a {
  display: block;
  float: none;
  color: rgb(247, 247, 247);
  text-align: left;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 14px 16px;
}

.SubNavBarContent a:hover {
  background-color:  rgb(34, 31, 31);
}

.SubNavBar:hover .SubNavBarContent {
  display: block;
}


 .TopnavM{
  visibility: hidden;
  height: 0;
  
}
.CloseMenu{
  visibility: hidden;
  width: 0px;
  padding: 0 0 0 0;
}

.Popup {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popuptext {
  visibility: hidden;
  width: 160px;
  background-color: rgb(255, 183, 55);
  color: var(--text-color);
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  left: 100px;
}

 

#btnDL{ 
  float: right;
  margin-right: 20px;
  margin-top: 1%;
  margin-bottom: 1%;
  border: none;
  appearance: none;
  background-color: inherit;
}

#modeswitch {
  width: 5vw;
  min-width: 60px;
  height: auto;

}



@media only screen and (max-width: 700px) {

  .Topnav {
    z-index: 1;
    position: fixed;
    border-radius: 30px;
    border-color: white;
    background-color: rgb(91, 87, 92);
    overflow: hidden;
    overflow-x: hidden;
    height: 250px;
    width: 0;
    top: 0;
    padding-top: 60px;
  }
  
  /* Style the links inside the navigation bar */
  .Topnav a, .SubNavBarBtn{
    left: 0;
    position: relative;
    display: block;
    float:none;
    color: rgb(247, 247, 247);
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 8px 8px 8px;
    border: none;
    outline: none;
    
  }
 
  .SubNavBarBtn{
    width: 100%;
  }
  
  /* Change the color of links on hover */
  .Topnav a:hover, .SubNavBar:hover .SubNavBarBtn {
    background-color:  rgb(34, 31, 31);
    color: rgb(255, 255, 255);
  }
  
  /* Add a color to the active/current link */
  .Topnav a.Active {
    background-color:  rgb(255, 65, 55);
    color: rgb(34, 31, 31);
  }
  
  .Topnav .CloseMenu {
    width: auto;
    position: absolute;
    top: 0;
    font-size: 36px;
    visibility: visible;
  }
  

  .TopnavM {
    height: auto;
    width: auto;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(91, 87, 92);
    color: rgb(247, 247, 247);
    padding: 10px 15px;
    border: none;
    visibility: visible;
    border-radius: 15px;
  }
  
  .openbtn:hover {
    background-color:#444;
  }

  /*Dropdown*/
  
  .SubNavBar{
    float: none;
    overflow: hidden;
    width: 100%;
  }
  
  .SubNavBarContent {
    display:none;
    width: 100%;
  }
  
  .SubNavBarContent a {
    background-color: rgb(91, 87, 92);
    z-index: 2;
    left: 0;
    position: relative;
    display: block;
    float:none;
    color: rgb(247, 247, 247);
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 8px 8px 8px;
    border: none;
    outline: none;
  }
  
  .SubNavBar-content a:hover {
    background-color:  rgb(34, 31, 31);
  }
  
  .SubNavBar:hover .dropdown-content {
    display: block;
  }
  
  .popup {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

  }
  
  /* The actual popup */
  .popuptext {
    visibility: hidden;
    width: 200px;
    background-color: rgb(255, 183, 55);
    color: var(--text-color);
    text-align: center;
    border-radius: 6px;
    padding: 8px 0 8px 0;
    position: absolute;
    z-index: 1;
    left: auto;

  }
  
    
  #btnDL{ 
    float: right;
    margin-top: -45px;
    margin-bottom: 1%;
    border: none;
    appearance: none;
    background-color: inherit;
  }

  #modeswitch {
      width: 50px;
  }

}
 