body {
  --bkg-color: rgb(245, 245, 245);
  --text-color: rgb(33, 33, 33);
  --nav-color: rgb(200, 200, 200);
  --nb-color: var(--bkg-color);
}

body.dark-theme {
  --bkg-color: rgb(33, 33, 33);
  --text-color: rgb(247, 247, 247);
  --box-color: rgb(50, 50, 50);
  --nav-color: rgb(91, 87, 92);
}

html {
  scroll-behavior: smooth;
}

.Topnav {
  border-color: white;
  overflow: hidden;
  border-radius: 10px;

}

#topnav:hover{
  --nb-color: var(--nav-color);
  background-color:  var(--nb-color);
}

/* Style the links inside the navigation bar */
.Topnav a {
  font-family: Verdana;
  float: left;
  color: var(--text-color);
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 14px 16px;

}

/* Change the color of links on hover */
.Topnav a:hover, .SubNavBar:hover #subNavBarBtn:hover {
  background-color: var(--bkg-color);
}

#topnav{
  width: auto;
}

/* Add a color to the active/current link */
.Topnav a.Active {
  background-color:  rgb(255, 65, 55);
  color: rgb(34, 31, 31);
}

/*Dropdown*/

.SubNavBar{
  float: left;
  overflow: hidden;
}

#subNavBarBtn{
  background-color: var(--nb-color);
}


.SubNavBarBtn {
  font-family: Verdana;
  border: none;
  outline: none;;
  color: var(--text-color);
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 14px 16px;
}

.SubNavBarContent {
  display: none;
  position: absolute;
  background-color: var(--nav-color);
}

.SubNavBarContent a {
  display: block;
  float: none;
  color: var(--text-color);
  text-align: left;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 14px 16px;
}

.SubNavBarContent a:hover {
  background-color:  var(--bkg-color);
}

.SubNavBar:hover .SubNavBarContent {
  display: block;
}


 .TopnavM{
  visibility: hidden;
  height: 0;
  
}
.CloseMenu{
  visibility: hidden;
  width: 0px;
  padding: 0 0 0 0;
}



/* The actual popup */
.Popuptext {
  margin-left: 20px;
  margin-top: -20px;
  visibility: hidden;
  width: 160px;
  background-color: rgb(255, 183, 55);
  color: var(--text-color);
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  left: 100px;
}




@media only screen and (max-width: 700px) {

  .Topnav {
    margin-left: 2%;
    margin-top: 2%;
    z-index: 1;
    position: fixed;
    border-radius: 30px;
    overflow: hidden;
    overflow-x: hidden;
    height: 180px;
    width: 0;
    top: 0;
    padding-top: 60px;
    background-color: var(--nav-color);
  }
  
  /* Style the links inside the navigation bar */
  .Topnav a, .SubNavBarBtn{
    left: 0;
    position: relative;
    display: block;
    float:none;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 8px 8px 8px;
    border: none;
    outline: none;
  }

  #topnav{
    width: 0;
  }

  .SubNavBarBtn{
    width: 100%;
  }

  #subNavBarBtn{
    background-color: var(--nav-color);
  }
  
  
  .Topnav .CloseMenu {
    width: 40%;
    position: absolute;
    top: 0;
    font-size: 30px;
    font-weight: bolder;
    visibility: visible;
  }
  

  .TopnavM {
    background-color: var(--nav-color);
    color: var(--text-color);
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    height: auto;
    width: auto;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    visibility: visible;
    border-radius: 15px;
  }
  
  .openbtn:hover {
  }

  /*Dropdown*/
  
  .SubNavBar{
    float: none;
    overflow: hidden;
    width: 100%;
  }
  
  .SubNavBarContent {
    display:none;
    width: 100%;
  }
  
  .SubNavBarContent a {
    background-color: var(--nav-color);
    z-index: 2;
    left: 0;
    position: relative;
    display: block;
    float:none;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 8px 8px 8px;
    border: none;
    outline: none;
  }
  

  
  .SubNavBar:hover .dropdown-content .Topnav{
    display: block;
  }
  

  /* The actual popup */
  .Popuptext {
    position: relative;
    margin-left: 20px;
    margin-top: 110px;
    visibility: hidden;
    width: 200px;
    color: var(--text-color);
    text-align: center;
    border-radius: 6px;
    padding: 8px 0 8px 0;
    position: absolute;
    z-index: 1;
    left: auto;

  }
  

}
 